<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Engulfing Pattern (<%= time_now_zone_to_date %>)</h6>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Open</th>
            <th>Close</th>
            <th>Prev Open</th>
            <th>Prev Close</th>
            <th>Volume</th>
          </tr>
        </thead>
        <tbody>
          <% @engulfing_pattern.each do |p| %>
            <tr>
              <td><%= link_to "$#{p.symbol}", stock_path(p.symbol) %></td>
              <td><%= p.name %></td>
              <td><%= p.open %></td>
              <td><%= p.close %></td>
              <td><%= p.previous_open %></td>
              <td><%= p.previous_close %></td>
              <td><%= p.volume %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
